.container {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    margin: 15px;
}

.btn {
    width: 100px;
    background-color: #fff;
    border: 1px solid #d0cece;
    border-radius: 4px;
}

.label {
    display: flex;
    gap: 5px;
    flex-direction: column;
}